$blue-color:#2f82ff;
$grey-color:#f8f8f8;
$shadow-1: rgba(99, 99, 99 , 0.2) 0px 2px 8px 0px;
.btn_primary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: $blue-color;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
}

.btn_outlined{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: $blue-color;
    background-color: $grey-color;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
}